*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #badddb;
    color: black;
    margin: 50px;
}

/* div{
    position: absolute;
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    opacity: 70%;
} */